.bg {
    background-image: url('/images/backround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    
  } 

  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
 
  .input{
    margin-right: 5px;
  }
  .input-text{
    margin-left: 5px;
  }
  .btn-reminder{
    margin-left: 5px;
  }
  .reminder-desc{
    margin-right: 5px;
  }
  .btn-deleteall{
    margin-bottom: 5px;
    margin-left: 3px;
  }
  .text-margin{
    margin-left: 3px;
  }
  .header {
    margin-left: 3px;
  }
  